---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Favorite Things - Books'>
  <div class='content-wrapper'>
    <div class='headline center'>
      <!-- <h2>Favorite Things - Books</h2> -->
      <p class='smaller'>
        Some of my favorite
        <a href='/dkm-astro/favorite-things'>music</a>, books and <a
          href='/dkm-astro/other-favorites'>other things</a
        > on the web.
      </p>
    </div>
    <div class='book-wrapper bw-left'>
      <div class='book-image'>
        <img
          src='/dkm-astro/images/books/shoeless.jpg'
          alt='Book cover of Shoeless Joe'
        />
      </div>
      <div class='book-description'>
        <h3><strong>Shoeless Joe</strong> by W. P. Kinsella</h3>
        This is the lyrical novel from 1982 about baseball, love, fathers and sons,
        writing, self-discovery, and (of course) Shoeless Joe Jackson. You know it
        from Kevin Costner’s <strong>Field of Dreams</strong> (1989), which moved
        me when I first saw it (in my mid-20s), but the book is so much richer, deeper,
        and more magical.
      </div>
    </div>
    <div class='book-wrapper bw-right'>
      <div class='book-description'>
        <h3><strong>Cat's Cradle</strong> by Kurt Vonnegut</h3>
        <strong>Cat's Cradle</strong> offers the best of Vonnegut's well-known satire
        and absurdity contained in a compelling and forward-moving story. This novel
        sheds light on so many aspects of human behavior - our tribalism, our need
        for purpose, religion, the lies we tell ourselves and each other, our arrogance
        and short-sightedness, and our profound potential to destroy ourselves. Hilarious
        and devastating.
      </div>
      <div class='book-image'>
        <img
          src='/dkm-astro/images/books/cats_cradle.jpg'
          alt="Book cover of Cat's Cradle"
        />
      </div>
    </div>
    <div class='book-wrapper bw-left'>
      <div class='book-image'>
        <img
          src='/dkm-astro/images/books/frankl.jpg'
          alt="Book cover of Man's Search for Meaning"
        />
      </div>
      <div class='book-description'>
        <h3><strong>Man's Search for Meaning</strong> by Viktor Frankl</h3>
        Frankl lost everything in the Nazi concentration camps, including his career,
        his wife, his wealth and his possessions. Everything <strong
          >except</strong
        > the ability to choose his response, which is one of the main themes of
        this powerful book. A key lesson: We shouldn't ask "What is the meaning of
        life?" but instead realize that we are the ones being asked.
      </div>
    </div>
    <div class='book-wrapper bw-right'>
      <div class='book-description'>
        <h3>
          <strong>What it is Like to go to War</strong> by Karl Marlantes (<strong
            >Audio:</strong
          > Read by Bronson Pinchot)
        </h3>
        Marlantes is a wise and insightful narrator of not only his Vietnam experiences
        but also the of his struggles and growth in the lifetime since he came home.
        Actor <strong>Bronson Pinchot</strong> brings the narrative to life with
        a fantastic performance (and those who remember him in <em
          >Beverly Hills Cop</em
        >
        will enjoy noting the difference in his pronunciation of the name "Axel").
      </div>
      <div class='book-image'>
        <img
          src='/dkm-astro/images/books/marlantes.jpg'
          alt='Book cover What it is Like to Go to War'
        />
      </div>
    </div>

    <div class='book-wrapper bw-left'>
      <div class='book-image'>
        <img
          src='/dkm-astro/images/books/gatsby.jpg'
          alt='Book cover of The Great Gatsby'
        />
      </div>
      <div class='book-description'>
        <h3>
          <strong>The Great Gatsby</strong> by F. Scott Fitzgerald (<strong
            >Audio:</strong
          > Read by Anthony Heald)
        </h3>
        Gatsby has so much to say about America, even a century after it was written.
        It addresses our class distinctions, old money vs. new, celebrity worship,
        the protections that riches offer vs. the limitations for those born poor
        - and all of this in a story that is often funny, sometimes tragic, and always
        perfectly written. Actor <strong>Anthony Heald</strong> gets this performance
        just right (as always).
      </div>
    </div>
    <div class='book-wrapper bw-right'>
      <div class='book-description'>
        <h3>
          <strong>Heart of Darkness</strong> by Joseph Conrad (<strong
            >Audio:</strong
          > Read by Kenneth Branagh)
        </h3>
        I tried and failed in college to get through this short novel on British
        colonialism in Africa. But I got interested again after falling for <strong
          >Apocalypse Now</strong
        >
        (which is loosely based on <em>Heart of Darkness</em>), and this
        wonderful rendition by British actor and director Kenneth Branagh pulls
        you into and through this study of power, ambition, greed, madness, and
        what makes us (and keeps us) human.
      </div>
      <div class='book-image'>
        <img
          src='/dkm-astro/images/books/conrad.jpg'
          alt='Book cover of Heart of Darkness'
        />
      </div>
    </div>
  </div>
  <style>
    .book-image img {
      height: auto;
      max-width: 200px;
    }
    .book-image,
    .book-description {
      display: inline-block;
    }
    .book-description {
      text-align: left;
      max-width: 700px;
      padding: 0 1rem;
    }
    .book-wrapper {
      display: inline-flex;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid lightgray;
    }

    @media (max-width: 869px) {
      .book-description {
        font-size: 15px;
      }
    }
    @media (max-width: 719px) {
      .book-description {
        grid-area: description;
        font-size: 1.1rem;
        text-align: center;
      }
      .book-image {
        grid-area: image;
      }
      .book-image img {
        max-width: 100%;
      }
      .book-wrapper {
        display: grid;
        grid-template-areas:
          'image'
          'description';
      }
    }
  </style>
</BaseLayout>
