---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Portfolio'>
  <div class='content-wrapper'>
    <div class='headline'>
      <p class='smaller'>A few projects I've been working on</p>
    </div>
    <div class='portfolio-item-wrapper'>
      <picture>
        <source
          media='(max-width: 499px)'
          srcset='/images/portfolio/ace-mobile.jpg'
        />
        <source
          media='(min-width: 500px)'
          srcset='/images/portfolio/ace-combined.jpg'
        />
        <img
          src='/images/portfolio/ace-combined.jpg'
          class='portfolio-image'
          alt='Screenshots of AceKnox.com'
        />
      </picture>
      <div class='overlay'>
        <div class='overlay-text'>
          <a href='https://aceknox.com' target='_blank'>AceKnox.com</a>
          is a site I built and maintain for a non-profit that supports students
          in the performing arts. Technologies: Angular (Typescript, SCSS, HTML).
          <a href='https://github.com/dkmullen/ace' target='_blank'>Github</a>
        </div>
      </div>
    </div>
    <div class='portfolio-item-wrapper'>
      <picture>
        <source
          media='(max-width: 499px)'
          srcset='/images/portfolio/lb-mobile.jpg'
        />
        <source
          media='(min-width: 500px)'
          srcset='/images/portfolio/lb-combined.jpg'
        />
        <img
          src='/images/portfolio/lb-combined.jpg'
          class='portfolio-image'
          alt='Screenshots of the website called A Lovely Beverage'
        />
      </picture>
      <div class='overlay'>
        <div class='overlay-text'>
          <a
            href='https://dkmullen.github.io/lovely-beverage-js/index.html'
            target='_blank'>A Lovely Beverage</a
          >
          is a simple HTML/CSS/JS static site that pulls beverage data from the Cocktail
          DB API.
          <a
            href='https://github.com/dkmullen/lovely-beverage-js'
            target='_blank'>(repo)</a
          >
          I originally built the same site using Python / Flask.
          <a
            href='https://github.com/dkmullen/cocktail-api-project'
            target='_blank'>(repo)</a
          >
        </div>
      </div>
    </div>
  </div>
  <style>
    .portfolio-item-wrapper {
      position: relative;
      margin-bottom: 3rem;
    }
    .portfolio-image {
      transition: 0.5s ease;
      width: 100%;
      height: auto;
    }
    .overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .overlay-text {
      font-weight: bold;
      background-color: var(--main-bg-color);
      border-radius: 5px;
      color: white;
    }
    .overlay-text a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
    .portfolio-item-wrapper:hover .portfolio-image {
      opacity: 0.3;
    }
    .portfolio-item-wrapper:hover .overlay {
      opacity: 1;
    }

    @media (max-width: 599px) {
      .overlay-text,
      .overlay-text a {
        font-size: small;
      }
    }
  </style>
</BaseLayout>
