<div class='navbar-wrapper' id='navbar-wrapper'>
  <div class='navbar'>
    <div class='logo'><a href='/'>dkmullen.com</a></div>
    <div class='menu' id='menu'>
      <a href='/portfolio'
        ><div class='menu-item' id='portfolioLink'>Portfolio</div></a
      >
      <a href='/favorite-things'
        ><div class='menu-item' id='favoritesLink'>Favorite Things</div></a
      >
      <a href='/writing/'
        ><div class='menu-item' id='writingLink'>Writing</div></a
      >
      <a href='/contact/'
        ><div class='menu-item' id='contactLink'>Contact Me</div></a
      >
    </div>
    <div class='menu-icon-wrapper'>
      <img
        class='menu-icon'
        src='/images/menu-white-36dp.svg'
        width='36'
        height='36'
        alt='menu icon'
        id='hamburger-button'
      />
    </div>
  </div>
</div>
